__pycache__/
.idea/
.DS_Store
*.sqlite3
.credentials
engineerx/media
Pipfile
Pipfile.lock
docker-build.sh
docker-push.sh

engineerx/integration/cypress/videos/
engineerx/integration/cypress/screenshots/
engineerx/integration/node_modules/
