__pycache__/
.idea/
.DS_Store
*.sqlite3
.credentials
engineerx/media
Pipfile
Pipfile.lock
docker-build.sh
docker-push.sh

integration/cypress/videos/
integration/cypress/screenshots/
integration/cypress/node_modules/
